<h1>Edit Article</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_article_path(@conn, :update, @article)) %>

<span><%= link "Back", to: Routes.admin_article_path(@conn, :index) %></span>
