<article id="post-<%= @post.id %>" class="mb-4">
  <header>
    <h1 class="text-2xl">
      <%= link @post.title, to: link_to_post(@conn, @post) %>
    </h1>
    <h2 class="text-xs inline-block">Autor</h2>
    <time class="text-xs" datetime="<%= @post.published_at %>"><%= @post.published_at |> format_date() %></div>
  </header>
  <div class="article-content"><%= raw @post.content %></div>
</article>
