<h1>Wpisy</h1>

<%= for post <- @posts do %>
  <section id="post-<%= post.id %>">
    <h1>
      <%= link post.title, to: Routes.blog_post_path(@conn, :show, post) %>
    </h1>
    <div>Opublikowano <%= post.published_at |> format_date() %></div>
    <div><%= post.content %></div>
  </section>
<% end %>
