<h1>Wpisy</h1>

<%= for post <- @posts do %>
  <section id="post-<%= post.id %>">
    <h1>
      <%= link post.title, to: link_to_post(@conn, post) %>
    </h1>
    <div>Opublikowano <%= post.published_at |> format_date() %></div>
    <div><%= raw post.content %></div>
  </section>
<% end %>
