<span><%= link "Powrót", to: Routes.blog_post_path(@conn, :index) %></span>

<h1><%= @post.title %></h1>
<div>Opublikowano <%= @post.published_at |> format_date() %></div>
<div><%= @post.content %></div>
